<a href="https://colab.research.google.com/github/Mart1n2015/CODERHOUSE-DSIII/blob/main/TRABAJO%20MARTIN%20CERIOLI%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
url_dataset = "https://raw.githubusercontent.com/Mart1n2015/CODERHOUSE-DSIII/refs/heads/main/reduced_dataset-release.csv"

In [ ]:
dataframe = pd.read_csv(url_dataset,sep=",")

/tmp/ipython-input-3141434697.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv(url_dataset,sep=",")

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143282 entries, 0 to 143281
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         124761 non-null  object
 1   TWEET              143279 non-null  object
 2   STOCK              85176 non-null   object
 3   DATE               85176 non-null   object
 4   LAST_PRICE         85176 non-null   float64
 5   1_DAY_RETURN       85176 non-null   float64
 6   2_DAY_RETURN       85176 non-null   float64
 7   3_DAY_RETURN       85176 non-null   float64
 8   7_DAY_RETURN       85176 non-null   float64
 9   PX_VOLUME          85176 non-null   float64
 10  VOLATILITY_10D     85171 non-null   float64
 11  VOLATILITY_30D     85165 non-null   float64
 12  LSTM_POLARITY      85175 non-null   object
 13  TEXTBLOB_POLARITY  45594 non-null   object
 14  MENTION            27073 non-null   object
dtypes: float64(8), object(7)
memory usage: 16.4+ MB

In [ ]:
display(dataframe.head())

,Unnamed: 0,TWEET,STOCK,DATE,LAST_PRICE,1_DAY_RETURN,2_DAY_RETURN,3_DAY_RETURN,7_DAY_RETURN,PX_VOLUME,VOLATILITY_10D,VOLATILITY_30D,LSTM_POLARITY,TEXTBLOB_POLARITY,MENTION
0,0,RT @robertoglezcano: @amazon #Patents Show Fl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Amazon,31/01/2017,823.48,0.008379,0.014924,0.014924,-0.001263,3.137196e+06,13.447,16.992,1.000,0.0,@amazon,NaN
2,1,@FAME95FM1 Jamaicans make money with @Payoneer...,PayPal,31/01/2017,39.780000,0.002011,0.012318,0.012318,5.480141e-02,9100057.000,18.769,16.099,-1,0.0,@PayPal
3,2,@CBSi Jamaicans make money with @Payoneer @Pay...,PayPal,31/01/2017,39.780000,0.002011,0.012318,0.012318,5.480141e-02,9100057.000,18.769,16.099,1,0.0,@PayPal
4,3,@Hitz92fm Jamaicans make money with @Payoneer ...,PayPal,31/01/2017,39.780000,0.002011,0.012318,0.012318,5.480141e-02,9100057.000,18.769,16.099,-1,0.0,@PayPal

# Task
Preprocess the 'TWEET' column in the `dataframe` by tokenizing, removing stopwords, and lemmatizing the text, and then display the original and processed tweets.

## Prepare NLTK

### Subtask:
Import necessary NLTK libraries and download 'punkt', 'stopwords', and 'wordnet' if they are not already installed. This ensures all required resources for text processing are available.

**Reasoning**:
To prepare NLTK for text processing, I will import the `nltk` library, then attempt to download the required 'punkt', 'stopwords', and 'wordnet' data using `nltk.download()` if they are not already present. Finally, I will import `WordNetLemmatizer` and `stopwords` from NLTK.

In [1]:
import nltk

try:
    nltk.data.find('tokenizers/punkt')
except nltk.downloader.DownloadError:
    nltk.download('punkt', quiet=True)

try:
    nltk.data.find('corpora/stopwords')
except nltk.downloader.DownloadError:
    nltk.download('stopwords', quiet=True)

try:
    nltk.data.find('corpora/wordnet')
except nltk.downloader.DownloadError:
    nltk.download('wordnet', quiet=True)

from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

print("NLTK libraries imported and data downloaded successfully.")

AttributeError: module 'nltk.downloader' has no attribute 'DownloadError'

**Reasoning**:
The previous code failed because `nltk.downloader.DownloadError` does not exist. The correct exception to catch when `nltk.data.find()` fails to locate a resource is `LookupError`. I will modify the `except` clauses to correctly catch `LookupError` and proceed with downloading the necessary NLTK data.

In [2]:
import nltk

try:
    nltk.data.find('tokenizers/punkt')
except LookupError:
    nltk.download('punkt', quiet=True)

try:
    nltk.data.find('corpora/stopwords')
except LookupError:
    nltk.download('stopwords', quiet=True)

try:
    nltk.data.find('corpora/wordnet')
except LookupError:
    nltk.download('wordnet', quiet=True)

from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

print("NLTK libraries imported and data downloaded successfully.")

NLTK libraries imported and data downloaded successfully.

## Define Text Preprocessing Function

### Subtask:
Create a Python function that performs tokenization, removes common English stopwords, and applies lemmatization using NLTK's WordNetLemmatizer. This function will be designed to take a single string (tweet text) as input.

**Reasoning**:
To perform the text preprocessing steps, I will define a Python function `preprocess_tweet` that takes a text string, converts it to lowercase, tokenizes it, removes stopwords, and lemmatizes the words, then returns the processed string. The `WordNetLemmatizer` and stopwords set will be initialized globally for efficiency.

In [3]:
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

def preprocess_tweet(text):
    if pd.isna(text):
        return ""
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words if word.isalnum() and word not in stop_words]
    return " ".join(words)

print("Preprocessing function 'preprocess_tweet' defined.")

Preprocessing function 'preprocess_tweet' defined.

## Apply Preprocessing to TWEET Column

### Subtask:
Apply the defined text preprocessing function to the 'TWEET' column of the DataFrame. The result will be stored in a new column, for example, 'PROCESSED_TWEET', which will contain the cleaned and lemmatized text.

**Reasoning**:
To apply the `preprocess_tweet` function to the 'TWEET' column, I will use the `.apply()` method on the 'TWEET' column and assign the result to a new column named 'PROCESSED_TWEET' in the `dataframe`.

In [4]:
dataframe['PROCESSED_TWEET'] = dataframe['TWEET'].apply(preprocess_tweet)
display(dataframe[['TWEET', 'PROCESSED_TWEET']].head())

NameError: name 'dataframe' is not defined

**Reasoning**:
The previous error `NameError: name 'dataframe' is not defined` indicates that the `dataframe` object was not in the current execution scope when the cell was run. Assuming all preceding cells that define `dataframe`, `lemmatizer`, `stop_words`, and `preprocess_tweet` are executed successfully, the original code for applying the function is correct. I will provide the same code for this step, expecting that the environment will be correctly initialized.

In [5]:
dataframe['PROCESSED_TWEET'] = dataframe['TWEET'].apply(preprocess_tweet)
display(dataframe[['TWEET', 'PROCESSED_TWEET']].head())

NameError: name 'dataframe' is not defined

**Reasoning**:
The `NameError: name 'dataframe' is not defined` occurred because the `dataframe` variable, `lemmatizer`, `stop_words`, and the `preprocess_tweet` function were not in the current execution scope. To resolve this, I will re-include the necessary code from previous steps that define these variables and the function within the current code block, ensuring all dependencies are met before applying the preprocessing function to the 'TWEET' column.

In [6]:
import pandas as pd
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# Re-define dataframe
url_dataset = "https://raw.githubusercontent.com/Mart1n2015/CODERHOUSE-DSIII/refs/heads/main/reduced_dataset-release.csv"
dataframe = pd.read_csv(url_dataset,sep=",")

# Ensure NLTK data is downloaded and define lemmatizer and stopwords
try:
    nltk.data.find('tokenizers/punkt')
except LookupError:
    nltk.download('punkt', quiet=True)

try:
    nltk.data.find('corpora/stopwords')
except LookupError:
    nltk.download('stopwords', quiet=True)

try:
    nltk.data.find('corpora/wordnet')
except LookupError:
    nltk.download('wordnet', quiet=True)

lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

# Re-define preprocess_tweet function
def preprocess_tweet(text):
    if pd.isna(text):
        return ""
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words if word.isalnum() and word not in stop_words]
    return " ".join(words)

# Apply preprocessing
dataframe['PROCESSED_TWEET'] = dataframe['TWEET'].apply(preprocess_tweet)
display(dataframe[['TWEET', 'PROCESSED_TWEET']].head())

/tmp/ipython-input-39475730.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv(url_dataset,sep=",")

LookupError:
**********************************************************************
  Resource punkt_tab not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt_tab')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt_tab/english/

  Searched in:
    - '/root/nltk_data'
    - '/usr/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************

**Reasoning**:
The previous error indicated a `LookupError` because `punkt_tab` resource was not found, which is needed for `nltk.word_tokenize`. I will add an explicit download for `punkt_tab` alongside the other NLTK data downloads to ensure all necessary resources are available.

In [7]:
import pandas as pd
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# Re-define dataframe
url_dataset = "https://raw.githubusercontent.com/Mart1n2015/CODERHOUSE-DSIII/refs/heads/main/reduced_dataset-release.csv"
dataframe = pd.read_csv(url_dataset,sep=",")

# Ensure NLTK data is downloaded and define lemmatizer and stopwords
try:
    nltk.data.find('tokenizers/punkt')
except LookupError:
    nltk.download('punkt', quiet=True)

try:
    nltk.data.find('tokenizers/punkt_tab')
except LookupError:
    nltk.download('punkt_tab', quiet=True)

try:
    nltk.data.find('corpora/stopwords')
except LookupError:
    nltk.download('stopwords', quiet=True)

try:
    nltk.data.find('corpora/wordnet')
except LookupError:
    nltk.download('wordnet', quiet=True)

lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

# Re-define preprocess_tweet function
def preprocess_tweet(text):
    if pd.isna(text):
        return ""
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words if word.isalnum() and word not in stop_words]
    return " ".join(words)

# Apply preprocessing
dataframe['PROCESSED_TWEET'] = dataframe['TWEET'].apply(preprocess_tweet)
display(dataframe[['TWEET', 'PROCESSED_TWEET']].head())

/tmp/ipython-input-2753696504.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv(url_dataset,sep=",")

,TWEET,PROCESSED_TWEET
0,RT @robertoglezcano: @amazon #Patents Show Fl...,rt robertoglezcano amazon patent show flying w...
1,Amazon,amazon
2,@FAME95FM1 Jamaicans make money with @Payoneer...,fame95fm1 jamaican make money payoneer paypal ...
3,@CBSi Jamaicans make money with @Payoneer @Pay...,cbsi jamaican make money payoneer paypal paxum...
4,@Hitz92fm Jamaicans make money with @Payoneer ...,hitz92fm jamaican make money payoneer paypal p...

**Reasoning**:
The previous code block successfully executed, creating the 'PROCESSED_TWEET' column with preprocessed text and displaying the head of the DataFrame, as intended. The DtypeWarning is not critical for the task at hand. Therefore, the task is complete.

In [8]:
import pandas as pd
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# Re-define dataframe
url_dataset = "https://raw.githubusercontent.com/Mart1n2015/CODERHOUSE-DSIII/refs/heads/main/reduced_dataset-release.csv"
dataframe = pd.read_csv(url_dataset,sep=",")

# Ensure NLTK data is downloaded and define lemmatizer and stopwords
try:
    nltk.data.find('tokenizers/punkt')
except LookupError:
    nltk.download('punkt', quiet=True)

try:
    nltk.data.find('tokenizers/punkt_tab')
except LookupError:
    nltk.download('punkt_tab', quiet=True)

try:
    nltk.data.find('corpora/stopwords')
except LookupError:
    nltk.download('stopwords', quiet=True)

try:
    nltk.data.find('corpora/wordnet')
except LookupError:
    nltk.download('wordnet', quiet=True)

lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

# Re-define preprocess_tweet function
def preprocess_tweet(text):
    if pd.isna(text):
        return ""
    text = text.lower()
    words = nltk.word_tokenize(text)
    words = [lemmatizer.lemmatize(word) for word in words if word.isalnum() and word not in stop_words]
    return " ".join(words)

# Apply preprocessing
dataframe['PROCESSED_TWEET'] = dataframe['TWEET'].apply(preprocess_tweet)
display(dataframe[['TWEET', 'PROCESSED_TWEET']].head())

/tmp/ipython-input-2753696504.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv(url_dataset,sep=",")

,TWEET,PROCESSED_TWEET
0,RT @robertoglezcano: @amazon #Patents Show Fl...,rt robertoglezcano amazon patent show flying w...
1,Amazon,amazon
2,@FAME95FM1 Jamaicans make money with @Payoneer...,fame95fm1 jamaican make money payoneer paypal ...
3,@CBSi Jamaicans make money with @Payoneer @Pay...,cbsi jamaican make money payoneer paypal paxum...
4,@Hitz92fm Jamaicans make money with @Payoneer ...,hitz92fm jamaican make money payoneer paypal p...

**Reasoning**:
The previous code block successfully executed, creating the 'PROCESSED_TWEET' column with preprocessed text and displaying the head of the DataFrame, as intended. The DtypeWarning is not critical for the task at hand, so the task is complete.

In [9]:
print("Text preprocessing of the 'TWEET' column is complete.")

Text preprocessing of the 'TWEET' column is complete.

## Final Task

### Subtask:
Confirm that the 'TWEET' column has been successfully preprocessed with tokenization, stopword removal, and lemmatization, and is ready for further analysis.

## Summary:

### Q&A
Yes, the 'TWEET' column has been successfully preprocessed with tokenization, stopword removal, and lemmatization, and is confirmed to be ready for further analysis.

### Data Analysis Key Findings
*   All necessary NLTK libraries (`nltk`, `WordNetLemmatizer`, `stopwords`) and data (`punkt`, `stopwords`, `wordnet`, `punkt_tab`) were successfully imported and downloaded. Initial `LookupError` exceptions during NLTK data checks were correctly handled.
*   A custom Python function, `preprocess_tweet`, was defined to perform the required text processing steps, including handling `NaN` values, converting text to lowercase, tokenizing words, lemmatizing, and removing non-alphanumeric stopwords.
*   The `preprocess_tweet` function was successfully applied to the original 'TWEET' column in the dataframe, and the processed text was stored in a new column named 'PROCESSED\_TWEET'.
*   During the application of the preprocessing function, an initial `NameError` indicated missing dataframe and function definitions, which was resolved by re-initializing all dependencies. Additionally, a `LookupError` for the `punkt_tab` NLTK resource was encountered and fixed by downloading the specific resource.
*   A `DtypeWarning` regarding mixed types in column 13 was observed during CSV loading, but it did not impact the text preprocessing task.

### Insights or Next Steps
*   The newly created 'PROCESSED\_TWEET' column is now clean and standardized, making it suitable for subsequent natural language processing tasks like sentiment analysis, topic modeling, or feature engineering for machine learning models.
*   For future preprocessing, consider enhancing the `preprocess_tweet` function to handle other common tweet elements such as URLs, mentions (`@user`), hashtags (`#topic`), or emojis, depending on the specific analytical goals and the nature of the tweet data.